// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #FFF8DC;
    border-radius: 10px;
    color: #b38b6d;
}
textarea{
    width: 100%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #FFF8DC;
    border-radius: 10px;
    color: #b38b6d;
    resize: none;
}
input[type=button], input[type=submit] {
    background-color: #8A3324;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
}

input[type=button]:hover, input[type=submit]:hover{
    background-color: #F5F5DC;
    color: #8A3324;
    
}

p {
    color: #b38b6d;
    font-size: 16pt;
}

a{
    color: brown;
}

a:visited{
    color: white;
}